/* обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5, 
h6 {
   font-weight: inherit;
   font-size: inherit ;
}
html,
body {
   height: 100%;
   line-height: 1;
    background:#E5E5E5;  

}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.main {
   padding-bottom: 30px;
   flex: 1 1 auto;
}
.header {
   width: 100%;
   height:586px;
   display: block;
   margin: 15px;

}
.header:last-child {
   margin-bottom: 0;
   padding-bottom: 0;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
   padding: 30px;
   width: 100%;
   height: 140;
   text-align: center;
}
/* header pc */
.header_top {
   width: 374px;
   height: 26px;
   display: flex;
   justify-content: space-between;
   margin: 15px;

}
.header_logo{
width: 121px;
height: 26px;
display: flex;   

}
.header_logo p {
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   color: #121212;
}
.header_logo img {
   max-width: 100%;
   width:28px;
   height:26px;

}
.header_navigation {
height: 24px;
max-width: 309px;
display: flex;
gap: 6px;
justify-content: space-around;
margin-left: 130px
}
.header_navigation a {
margin: 5px;
padding: 0;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: rgba(18, 18, 18, 0.4);
}
.header_navigation a:hover {
   text-decoration: underline 3px #FF6428;
}
.header_content {
display: flex;
justify-content: space-between ;
}
.header_text {
margin: 15px;
max-width: 469px;
}
.header_text h1 {
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 56px;
   line-height: 67px;
   
   color: #121212;
}
.header_text p{
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   
   color: #666666;
}
.btn_block {
 display: flex;
 gap: 10px;
 width: 312px;
 height: 60px;
}
.btn_block img {
gap: 10px;
width: 25px;
height: 25px;
max-width: 100%;
margin-top: 15px;
}
.btn {
   padding:18px, 48px, 18px, 48px;
   background: #FF6428;
   border: none;
   border-radius: 40px;
   width: 192px;
   height: 60px;
   text-align: center;
   padding-top: 18px;
   color: #E5E5E5;
   font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
font-family: 'Poppins', sans-serif;
}
.btn:hover {
   opacity: 0.8;
   transition: all 0.3ms;
}
.header_picture {
justify-content: flex-end;
}
.header_picture img {
   max-width: 100%;
}
/* header mobille */
@media (max-width: 31.25rem) {
 .header {
   height: fit-content;
 }
   .header_top {
      margin: 5px;
   }
   .header_logo{
   width: 118px;
   height: 22px;
   }
   .header_logo p {
   font-size: 18px;
   }
   .header_logo img {
      width: 20px;
      height: 20px;
   
   }
   .header_navigation {
   gap: 2px;
   justify-content: space-between;
   margin-right: 22px;
   margin-left: auto;
   }
   .header_navigation a {
   margin: 2px;
   }
   .header_content {
   padding-top: 5px;
   }
   .header_text {
   margin: 5px;
   }
   .header_text h1 {
   font-size: 22px;
   line-height: 32px;
   }
   .header_text p{
   line-height: 22px;
   font-size: 14px;
   width: 165px;
  
   }
   .btn_block {
   gap: 4px;
   }
   .btn_block img {
      width: 15px;
      height: 15px;
   
   }
   .btn {
      padding:18px, 48px, 18px, 48px;
      background: #FF6428;
      border: none;
      border-radius: 40px;
      width: 100px;
      height: 45px;
      text-align: center;
      padding-top: 10px;
      color: #E5E5E5;
      font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 20px;
   font-family: 'Poppins', sans-serif;

   }
   .header_picture img { 
    width: 85%;
    height: 65%;
   
}
}
/* section store PC */
.section_store {
width:1200px;
height:935px;
padding: 120px;
margin: 0 auto;
}
.card {
   width: 33.3%;
   height: 314px;
}
.card img {
   max-width: 100%;
}
.card p {
font-family: 'Poppins', sans-serif;  
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #121212;
}
#sectiontitle {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 44px;
   line-height: 53px;
   color: #121212;
   }
   .section_store_subtitle {
   display: flex;
   }
   #left {
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 30px;
   letter-spacing: 0.08em;
   justify-content: flex-start;
   float: left;
   white-space: nowrap;
   }


   #right {
font-family: 'Poppins', sans-serif;
justify-content: flex-end;
float: right; 
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
margin-left: 100%;
color: #868686;
white-space: nowrap;

   }
   .section_store_cards {
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: space-between;
      gap: 54px;
   }
@media (max-width: 31.25rem) {
.section_store {
width: 100%;
height: fit-content;
padding:15px;
}
#sectiontitle {
   font-size: 22px;
   line-height: 27px;
   white-space: nowrap;
}
.section_store_subtitle {
display: flex;
}
#left {
 font-size: 12px;
 line-height: 15px;  
   
   
}
#right {
 font-size: 10px;
margin-left: 142px;   
}
.section_store_cards {
   height: fit-content;
   gap: 4px;
   zoom: 60%;
   margin: 0 auto;
}
.card {
   width: fit-content;
}
.card img {
   width: 55%;
   height: 55%;
}
.card p {
   font-size: 12px;
   line-height: 20px;
}
}
/* categories PC */
.section_categories {
width: 100%;
height: 415px;
}
.categories_content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
   padding-top: 15px;
}
.category {
   width: 220px;
   height: 280px;
   border: none;
   border-radius: 20px;
   background-position: center;
   background-size: cover;
}
.category p {
padding-top: 220px;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
}
/* categories mobile */
@media (max-width: 31.25rem) {
   .section_categories {
      height: fit-content;
   }
   .category {
      width: 25%;
      height: 160px;
    zoom: 50%;
   }
   .category p {
   font-size: 14px;
   line-height: 22px;
   padding-top: 62%;
   }
}
 /* brands PC */
 .brands_title {
   margin: 0 auto;
 }
 .brands_categories {
   padding-top: 75px;
 }
 .brands_content {
   margin: 0 auto;
   padding-top: 35px;
   width: 100%;
   height: 229px;
   background-image: url("../img/content/brands/brands_block_bg.PNG");
  background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
 }
 /* brands mobile none */

 /* payment PC */
 .payment_block {
   width: 100%;
   height: 610px;
   margin-top: 136px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   background: #121212;
 }
 .payment_block p {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 44px;
   line-height: 53px;
   color: #E5E5E5;
   text-align: center;
   padding-top: 93px;

 }
 .payment_block_content {
   padding: 100px;
   width: 100%;
 }
 .payment_block_content_blocks {
   margin-top: 75px;
   width: 100%;
   height: fit-content;
   justify-content: space-around;
   display: flex;
 }
 .block img {
   max-width: 100%;
   width: 32px;
   height: 32px;
   
 }
 #grey {
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   text-transform: capitalize;
   
   color: #666666;
 }
 #white {
   font-family: 'Poppins', sans-serif;   
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #FFFFFF;
 }
 /* payment mobile */
 @media (max-width: 31.25rem) {
   .payment_block {
      height: 590px;
   }
   .payment_block p {
      font-size: 22px;
      line-height: 27px;
      white-space: nowrap;
      padding-top: 35px;
   }
   .payment_block_content {
      padding: 50px;
   }
   .block img {
      width: 22px;
      height: 22px;
   }
   #white {
      font-size: 16px;
      line-height: 22px;
   }
   #grey {
      line-height: 15px;
      font-size: 12px;
   }
}
